<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.jpg">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/contactUs.css' />
</head>
<body>
    <div id="bg"></div>
    <div id="header">
        <a href="/" id="title">智慧无线移动信息技术研究中心</a>
        <a href="xml" id="openapi">开放api</a>
        <a href="angular" id="scholar">angular</a>
        <a href="#" id="iotsearch">物联网搜索</a>
    </div>
    <div class="container">

    </div>

    <div class="duoshuo">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="xuelangcxy" data-title="ioSearch_contactUs" data-url="http://127.0.0.1:8080/contactUs"></div>
    </div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
var duoshuoQuery = {short_name:"xuelangcxy"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
    <!-- 多说公共JS代码 end -->

    <div id="footer" class="col-md-6 col-md-offset-3 col-xs-12 footer">
            <h5>
                Copyright&nbsp;&copy;&nbsp;2016 BUPT::ISWIT&nbsp;xuelangcxy&nbsp;|&nbsp;
                <a href="contactUs">&nbsp;联系我们</a>
            </h5>
        </div>

    <script type="text/javascript" src="javascripts/jquery/jquery-1.11.3.min.js"></script>
</body>
</html>