<div class="row">
	<div id="footer-2">
	<h5>Copyright&nbsp;&copy;&nbsp;2016 BUPT::ISWIT&nbsp;xuelangcxy&nbsp;|&nbsp;<a href="mailto: chenxybyr@163.com">&nbsp;联系我们</a>&nbsp;|&nbsp;<a href="http://wpa.qq.com/msgrd?v=3&uin=1361272604&site=qq&menu=yes">QQ</a></h5>
	</div>
</div>