
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/images/favicon.png">
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/resultstyle.css' />
  <link rel="stylesheet" href="/stylesheets/resultInternetstyle.css">
</head>
<body>
  <div id="header" class="">
    <div id="header">
      <div class="container">
      <div class="header-brand hidden-xs">
        <a href="/">ISWIT</a>
      </div>
      <div class="header-search">
        <form id="form" accept-charset="uf-8" id="search" action="/search/query">
          <div class="form-group select">
            <select class="form-control select" name="type">
              <option value="internet" <% if(type=='internet') { %>selected<% } %>>互联网</option>
              <option value="social" <% if(type=='social') { %>selected<% } %>>社交网</option>
              <option value="wsn" <% if(type=='wsn') { %>selected<% } %>>传感网</option>
            </select>
          </div>
          <input type="text" id="bbssearch" name="key" maxlength="40" placeholder="请输入查询语句，如实验室&amp;温度" value="<%= query %>" required>  
          <button type="submit" id="sub-button" class="search-button">搜 索</button>
        </form>
      </div>
      </div>
    </div>
  </div>

<!-- result -->
<div class="internet_result show" style="margin-top:60px;">
<% if(baiduData) { %>
<div class="baiduContent hide">
  <%= baiduData.replace(/&lt;/g, "<").replace(/&gt;/g,">").replace(/&nbsp;/g," ").replace(/&amp;/g, "&") %>
</div>
<% } %>

<% if(sinaData) { %>
<div class="baiduContent hide">
  <%= sinaData.replace(/&lt;/g, "<").replace(/&gt;/g,">").replace(/&nbsp;/g," ").replace(/&amp;/g, "&") %>
</div>
<% } %>

</div>

  <% include footer.ejs %>

  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top fa fa-hand-o-up" role="button" title="" data-toggle="tooltip" data-placement="left" data-original-title="Return to top" style="font-size: 25px;">
    </a>

<script type="text/javascript" src="/javascripts/jquery/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/result.js"></script>
</body>
</html>