<div class="history_data">
    <div class="title2">历史监测数据 ></div>
    <div class="divider"></div>
    <div>
        <div class="date1" id="date1">6月2日</div>
        <div class="divider1"></div>
        <div class="date2" id="date2">6月3日</div>
        <!-- <div class="divider6"></div>
    <div class="date3">6月4日</div>
    -->
</div>
<div class="temp_chart" id="temp_chart"></div>

</div>
<!-- history_data -->

<div class="divider" id="divider"></div>
<div class="shiftBtn" id="shiftBtn">
<span class="name1 active" id="name_aqi">
    AQI</span>
    <span class="name1" id="name_pm25">PM2.5</span>
    <span class="name1" id="name_pm10">PM10</span>
    <span class="name1" id="name_no2">
        NO
        <span class="subscript">2</span>
    </span>
    <span class="name1" id="name_o3">
        O
        <span class="subscript">3</span>
    </span>
    <span class="name1" id="name_so2">
        SO
        <span class="subscript">2</span>
    </span>
    <span class="name1" id="name_co">CO</span>
</div>